:root{
    --color-normal-green: rgb(56, 247, 56);
    --color-normal-red: rgb(252, 42, 42);
    --color-normal-yellow: rgb(224, 224, 46);
    --color-normal-blue: rgb(54, 54, 248);
    /*cores das luzes*/
    --color-ligth-green: rgb(105, 255, 5);
    --color-ligth-red: rgb(245, 81, 76);
    --color-ligth-yellow: rgb(248, 252, 4);
    --color-ligth-blue: rgb(4, 103, 252);
}


body{
    background-image: url(../img/backgroudGame1.jpg);
    margin-left: 20%;
    margin-right: 20%;

    
}

/*.content{
}*/

.gameContainer{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    
}



/*PAINEL CENTRAL*/
.centerPainel{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}
.gamePainel{
    width: 280px;
    height: 280px;
    margin-bottom: 12%;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    border: 10px solid black;
}
.gameLogo{
    text-align: center;
    font-family:fantasy;
    margin-bottom: 8%;
    
}

/*BOTÕES DO PAINEL*/

.btnStart{
    width: 70px;
    height: 50px;
    margin-left: 30px;
    background-color: blue;
    color: black;
    border-radius: 15px;
    font-weight: bold;
    font-family: fantasy;
    cursor: pointer;


}

.btnRetry{
    width: 100px;
    height: 50px;
    margin: 20px;
    background-color: red;
    color: black;
    border-radius: 15px;
    font-weight: bold;
    font-family: fantasy;
    cursor: pointer

}

.inputScore{
    margin-top: 60px;
    margin-left: 35px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
}

/*CLASSES DOS BOTÕES*/


/*.gameAllButtons{
}*/

.gameButtonGreen{
    background-color: var(--color-normal-green);
    width: 300px;
    height: 300px;
    border-top-left-radius: 300px;
    border: 5px solid black;
    
   
}
.gameButtonRed{
    background-color: var(--color-normal-red);
    width: 300px;
    height: 300px;
    border-top-right-radius: 300px;
    border: 5px solid black;
    
}
.gameButtonYellow{
    background-color: var(--color-normal-yellow);
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 300px;
    border: 5px solid black;
    
}
.gameButtonBlue{
    background-color: var(--color-normal-blue);
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 300px;
    border: 5px solid black;
    

}

/*CLASSES BOTÕES LIGADOS*/

.gameButtonLigthGreen{
    background-color: var(--color-ligth-green);

}
.gameButtonLigthRed{
    background-color: var(--color-ligth-red);

}
.gameButtonLigthYellow{
    background-color: var(--color-ligth-yellow);

}
.gameButtonLigthBlue{
    background-color: var(--color-ligth-blue);

}